@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --color-cards: #fcfcfc;
    --color-bodyWhite: #eceff0;
    --color-boxShadow: #dbe7eb;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --color-light: rgba(132, 139, 200, 0.18);


    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);

}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

body {
    background-color: var(--color-bodyWhite);
    transition: background-color 0.5s;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.divContainer__Master {
    width: 2000px;

    .headerContainer {

        /*header container*/
        .containUp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 40px 0px 40px;
            transition: padding 0.5s es;

            .containP1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .containerSlogan {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .sloganText {
                        font-weight: bold;
                        font-size: 25px;

                        .colorText {
                            color: rgb(255, 28, 28);
                        }
                    }

                    .slogan {
                        width: 50px;
                        height: 50px;
                        background-image: url(../image/sloganColor.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                .tittlePag {
                    margin-left: 90px;
                    transition: margin 0.5s ease;
                    font-size: 35px;
                    font-weight: bold;
                }


            }

            .containP2 {
                display: flex;
                justify-content: center;
                gap: 40px;

                .content {
                    padding-top: 5px;
                }

                .sectionprofile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    .userlp1 {
                        display: flex;
                        flex-direction: column;

                        .nameUser01 {
                            .weightText {
                                font-weight: bold;
                            }
                        }

                        .nameUser02 {
                            text-align: end;
                        }
                    }

                    .imgProfile {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .mainSection {
        .sectionClass__contain {
            width: 100%;
            height: calc(100vh - 63px);
            padding: 30px;
            gap: 20px;
            display: flex;

            .containerAll_Navbar {
                position: relative;

                #dropdownMenu {
                    display: none;
                }

                .labelLP {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--color-cards);
                    border-radius: 30px;
                    position: absolute;
                    z-index: 999;
                    right: 30px;
                    top: -15px;
                    transition: right 0.5s ease-in-out, rotate 0.5s ease-in-out;

                    i {
                        font-size: 20px;
                        color: var(--color-dark-variant);
                    }
                }

                #dropdownMenu:checked+.labelLP {
                    rotate: 180deg;
                    right: 16px;
                }

                #dropdownMenu:checked+.labelLP+.navbarNav {
                    width: 70px;
                }

                #dropdownMenu:checked+.labelLP+.navbarNav .navbarNavList .container__navbar ul li a span {
                    opacity: 0;
                }

                .navbarNav {
                    width: 230px;
                    height: 100%;
                    position: relative;
                    transition: width 0.5s ease-in-out;

                    .navbarNavList {
                        height: 100%;
                        background-color: var(--color-cards);
                        box-shadow: 2px 2px 20px var(--color-boxShadow);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: 20px;
                        overflow: hidden;
                        padding: 20px 0px 20px 0px;

                        .container__navbar {
                            overflow-y: auto;
                            width: 250px;

                            ul {
                                position: relative;
                                transition: background-color 0.3s;

                                &:hover {
                                    background-color: var(--color-bodyWhite);
                                }

                                &:hover li a {
                                    color: rgb(106, 131, 255);
                                    transition: color 0.3s;
                                }

                                &:hover::after {
                                    content: '';
                                    width: 7px;
                                    height: 20px;
                                    background-color: rgb(106, 131, 255, 0.588);
                                    position: absolute;
                                    left: 0;
                                    top: 20px;
                                    transition: width 0.3s, background-color 0.3s;
                                }

                                padding: 15px 15px 15px 25px;
                                margin: 0px;

                                li {
                                    a {
                                        width: 120px;
                                        display: flex;
                                        gap: 15px;
                                        color: rgb(131, 131, 131);

                                        i {
                                            font-size: 20px;
                                        }

                                        span {
                                            transition: opacity 0.7s ease-in-out;
                                            opacity: 1;
                                        }

                                    }
                                }
                            }
                        }

                        .logoutUser {
                            padding: 15px;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transition: background-color 0.3s, color 0.3s;

                            &:hover {
                                background-color: var(--color-bodyWhite);
                            }

                            &:hover li a {
                                color: rgb(106, 131, 255);
                                transition: color 0.3s;
                            }

                            &::after {
                                content: '';
                                width: 0%;
                                height: 5px;
                                background-color: rgba(106, 131, 255, 0.588);
                                position: absolute;
                                bottom: 10px;
                                transition: width 0.3s, background-color 0.3s;
                            }

                            &:hover::after {
                                width: 80%;

                            }

                            a {
                                display: flex;
                                justify-content: center;
                                gap: 10px;
                                color: rgb(131, 131, 131);

                                .bi-box-arrow-left::before {
                                    rotate: 180deg;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .sectionCenter::-webkit-scrollbar {
                width: 1px;
            }
            .ContainerIframe {
                width: 100%;
                gap: 20px;
                display: flex;
                .sectionCenter {
                    width: 100%;
                    transition: width 0.5s ease;
                    overflow-x: auto;
    
                    .Containerlitics {
                        display: flex;
                        gap: 20px;
    
    
                        .container {
                            width: 100%;
                            height: 140px;
                            background-color: var(--color-cards);
                            box-shadow: 2px 2px 20px var(--color-boxShadow);
                            border-radius: 30px;
                        }
    
                        .lp1,
                        .lp2,
                        .lp3 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 10px;
                            gap: 70px;
                            transition: gap 0.5s ease;
                            position: relative;
    
                            .containerSAles {
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                z-index: 99;
    
                                span:nth-child(2) {
                                    font-weight: bold;
                                    font-size: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;
                                    i {
                                        font-size: 20px;
                                        color: var(--color-info-dark);
                                    }
    
                                }
                            }
                            .info1 {
                                position: relative;                                                                      
                                .info_01:hover::before { 
                                    width: 290px;
                                    content: 'Estas son tus ventas totales';
                                    font-size: 15px;
                                    font-weight: 100;
                                    position: absolute;
                                    right: -190px;
                                    top: 70px;
                                }
                            }
                        }
                        
                        .lp1::before,
                        .lp2::before,
                        .lp3::before {
                            content: '';
                            width: 80%;
                            position: absolute;
                            background-color: var(--color-cards);
                            border-radius: 10px;
                            height: 165px;
                            z-index: -1;
                        }
                    }
    
                    .NewUsers {
                        margin-top: 20px;
    
                        .containerCanvasLine {
                            width: 99.5%;
                            min-width: 500px;
                            background-color: var(--color-cards);
                            box-shadow: 2px 2px 20px var(--color-boxShadow);
                            border-radius: 30px;
                            padding: 20px;
                            margin-top: 30px;
    
                            span {
                                font-weight: bold;
                                font-size: 20px;
                            }
                        }
                    }
    
    
                }
    
                .sectinRigth::-webkit-scrollbar {
                    width: 1px;
                    /* Establece el ancho de la barra de desplazamiento */
                }
    
                .sectinRigth {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    overflow-x: auto;
                    min-width: 300px;
                    .TotalSAles {
                        width: 100%;
                        height: 100px;
                        background-color: var(--color-cards);
                        box-shadow: 2px 2px 20px var(--color-boxShadow);
                        border-radius: 30px;
                        display: flex;
                        padding: 20px;
                        .dlr02 {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            width: 80%;   
                            .tittleCash {
                                font-size: 18px;
                            } 
                            .lpr002 {
                                font-weight: bold;
                                font-size: 22px;

                            }                                                    
                        }
                        .iocns {
                            width: 20%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 25px;
                        }

                    }

    
                    .SloganCont {
                        width: 100%;
                        height: 300px;
                        background-color: var(--color-cards);
                        box-shadow: 2px 2px 20px var(--color-boxShadow);
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 20px;
    
                        img {
                            width: 150px;
                        }
    
                        .sloganText {
                            font-size: 30px;
                            font-weight: bold;
                        }
    
                        .pef0 {
                            color: rgb(131, 131, 131);
                        }
    
                    }
    
                    .containerReminders {
                        width: 100%;
                        border-radius: 30px;
    
                        .reminders01 {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            .svg_Reminder {
                                width: 40px;
                                height: 40px;
                                background-color: var(--color-cards);
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
    
                                #count_Reminder {
                                    width: 20px;
                                    height: 20px;
                                    background-color: var(--color-danger);
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    transform: translate(-15px, -15px);
                                    font-size: 12px;
                                    color: white;
                                }
    
                                i {
                                    font-size: 20px;
                                }
    
                            }
                        }
    
                        .reminders02::-webkit-scrollbar {
                            width: 8px;
                            /* Establece el ancho de la barra de desplazamiento */
                        }
    
                        .reminders02::-webkit-scrollbar-thumb {
                            background-color: var(--color-danger);
                            /* Establece el color del pulgar de la barra de desplazamiento */
                            border-radius: 10px;
                            /* Establece el radio de los bordes para la barra de desplazamiento en WebKit */
                        }
    
                        .reminders02 {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            height: 320px;
                            overflow-x: auto;
                            padding: 0px 5px 0px 0px;
    
                            .remindersNamber0 {
                                width: 100%;
                                height: 100px;
                                border-radius: 30px;
                                background-color: var(--color-cards);
                                box-shadow: 2px 2px 20px var(--color-boxShadow);
                                padding: 20px;
                                display: flex;
                                gap: 20px;
                                img {
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 50%;
                                }  
                                .containerUser {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    .tittleUser {
                                        font-size: 20px;
                                        font-weight: bold;
                                    }
                                    .activeUser {
                                        display: flex;
                                        align-items: center;
                                        gap: 10px;
                                        .actions {
                                            width: 10px;
                                            height: 10px;
                                            background-color: red;
                                            border-radius: 50%;
                                        }
                                    }                                
                                }                            
                            }                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1782px) {
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .NewUsers .NewUsers__Container .NewUsers__Profiles {
        width: 900px;
    }
}

@media (max-width: 1650px) {

    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp1, .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp2, .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp3 {
        gap: 20px;
    }
}
@media (max-width: 1562px) {
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .NewUsers .NewUsers__Container .NewUsers__Profiles {
        width: 683px;
    }

}


@media (max-width: 1480px) {
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics {
        flex-direction: column;
    }
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp1::before,
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp2::before, 
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp3::before {
        display: none;
    }

    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp1,
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp2,
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp3 {
        gap: 40px;
    }


}

@media (max-width: 1339px) {
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .NewUsers .NewUsers__Container .NewUsers__Profiles {
        width: 460px;
    }
}

@media (max-width: 1280px) {
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter {
        width: 100%;
    }
}

@media (max-width: 1120px) {
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .NewUsers .NewUsers__Container .NewUsers__Profiles {
        width: 200px;
    }

    .dark-mode .divContainer__Master .mainSection .sectionClass__contain .labelLP {
        display: none;
    }

    .divContainer__Master .mainSection .sectionClass__contain .containerAll_Navbar .navbarNav {
        width: 70px;
    }

    .divContainer__Master .mainSection .sectionClass__contain .containerAll_Navbar .navbarNav .navbarNavList .container__navbar {
        overflow-y: auto;
        height: 100%;
        width: 180px;
    }

    .divContainer__Master .mainSection .sectionClass__contain .containerAll_Navbar .navbarNav .navbarNavList .container__navbar ul li a span {
        display: none;
    }

    .divContainer__Master .mainSection .sectionClass__contain .containerAll_Navbar .labelLP {
        display: none;
    }
}

@media (max-width: 950px) {
    .divContainer__Master .headerContainer .containUp .containP1 .tittlePag {
        margin-left: 12px;
    }

    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .NewUsers .containerCanvasLine {
        display: none;
    }

}

@media (max-width: 792px) {

    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp1, .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp2, .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .Containerlitics .lp3 { 
        gap: 15px;
    }


    .divContainer__Master .mainSection .sectionClass__contain {
        height: calc(100vh - 80px);
    }

    .divContainer__Master .headerContainer .containUp .containP1 .containerSlogan .sloganText {
        font-size: 20px;
    }
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter,
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectinRigth {
        overflow: visible;
        height: auto;
        width: 100%;
    }
 
    .divContainer__Master .headerContainer .containUp .containP1 .containerSlogan .slogan {
        width: 40px;
        height: 40px;
    }
  

    .divContainer__Master .headerContainer .containUp {
        padding: 15px;
    }

    .divContainer__Master .mainSection .sectionClass__contain {
        padding: 2px;
    }

    .divContainer__Master .headerContainer .containUp .containP1 .tittlePag {
        display: none;
    }

    .divContainer__Master .mainSection .sectionClass__contain .sectinRigth {
        display: none;
    }
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectinRigth .containerReminders .reminders01 {
        padding-right: 15px;
    }
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectionCenter .NewUsers {
        margin-top: 0;
    }


}

@media (max-width: 670px) {
    .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe {
        flex-direction: column;
        overflow-y: auto;
    }

   .divContainer__Master .mainSection .sectionClass__contain .ContainerIframe .sectinRigth .SloganCont {
        display: none;
    }
}
@media (max-width: 580px) {
    .divContainer__Master .headerContainer .containUp .containP2 .sectionprofile .userlp1 {
        display: none;
    }

    .divContainer__Master .headerContainer .containUp .containP2 {
        align-items: center;
        gap: 30px;
    }
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp1, .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp2, .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp3 {
        justify-content: space-around;
    }

    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp1,
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp2,
    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .Containerlitics .lp3 {
        gap: 10px;
    }

    .divContainer__Master .mainSection .sectionClass__contain .sectionCenter .NewUsers .NewUsers__Container {
        padding: 10px;
    }
}